* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-header {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

button {
  cursor: pointer;
  align-items: center;
  display: flex;
  background-color: #b9110c;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #cd0c0d;
}

.container {
  width: 90%;
  height: 80%;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.table-header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.table-header span::after {
  content: "";
  display: block;
  width: 13rem;
  height: 0.3rem;
  background-color: #b9110c;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.table-header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

#return {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #b9110c;
}

#return:hover {
  background-color: #cd0c0d;
}

.divTable {
  padding: 10px;
  width: auto;
  height: inherit;
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

.acoes {
  display: flex;
  justify-content: space-between;
  width: 100px;
  color: #b9110c;
}

.btnacao {
  margin-right: 15px;
  color: white;
  padding: 5px;
}

.modal-cadastrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal-cadastrar label {
  font-size: 14px;
  width: 100%;
}

.modal-cadastrar input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal-cadastrar button {
  margin: 10px auto;
  border-radius: 20px;
  padding: 5px 10px;
  width: 25%;
  border: none;
  background-color: #b9110c;
  color: white;
  justify-content: center;
}

.modal-cadastrar button:hover {
  background-color: #cd0c0d;
}

.active {
  display: flex;
}

.active .modal-cadastrar {
  animation: modal 0.4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
